:root {
  ---font-color: white;
  --button-color: #31343c;
  --button-radius: 30px;
  --button-border: none;
  --button-outline: none;
  --button-cursor: pointer;
  --button-height: 50%;
  --button-width: 45%;
  --button-fontColor: #3c3e46;
  --button-fontSize: 1.2rem;
  --button-fontWeight: 700;
  --button-display: flex;
  --button-space: center;
  --button-alignItems: center;
  --button-boxSizing: border-box;
  --button-mobile-fontSize: 1rem;
  --button-height-mobile: 45%;
}

.descBox {
  height: 85vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
}

.headline-description {
  height: 60%;
  width: 100%;
}

.descBox .h1 {
  font-size: 2.6rem;
  color: var(---font-color);
}

.descBox .span {
  color: rgb(193, 74, 0);
}

.descBox .p {
  padding-top: 6%;
  font-size: 1.2rem;
  color: rgb(165, 160, 160);
}

.button-Box {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkedin-button {
  text-decoration: none;
  color: var(---font-color);
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  outline: var(--button-outline);
  border: var(--button-border);
  background-color: var(--button-color);
  cursor: var(--button-cursor);
  font-size: var(--button-fontSize);
  font-weight: var(--button-fontWeight);
  display: var(--button-display);
  justify-content: var(--button-space);
  align-items: var(--button-alignItems);
  box-sizing: var(--button-boxSizing);
}

.icon {
  padding-left: 4%;
}

.linkedin-button:hover,
.linkedin-button:active {
  background-color: #126bc4;
  color: white;
}

.discord-button {
  text-decoration: none;
  color: var(---font-color);
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-radius);
  outline: var(--button-outline);
  border: var(--button-border);
  background-color: var(--button-color);
  cursor: var(--button-cursor);
  font-size: var(--button-fontSize);
  font-weight: var(--button-fontWeight);
  display: var(--button-display);
  justify-content: var(--button-space);
  align-items: var(--button-alignItems);
  box-sizing: var(--button-boxSizing);
}

.discord-button:hover,
.discord-button:active {
  background-color: #324fe1;
  color: white;
}

@media (max-width: 481px) {
  .descBox {
    width: 100%;
    height: max-content;
  }

  .button-Box {
    height: 15vh;
  }

  .descBox .p {
    font-size: 1.4rem;
  }

  .icon {
    padding-left: 2%;
  }

  .linkedin-button {
    font-size: var(--button-mobile-fontSize);
  }

  .discord-button {
    font-size: var(--button-mobile-fontSize);
  }

  .linkedin-button {
    height: var(--button-height-mobile);
  }

  .discord-button {
    height: var(--button-height-mobile);
  }
}
