.descBox{
    height: max-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
}

.headerBox{
    min-height:20%;
    width: max-content;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;   
}

.headerBox span{
    color:rgb(193, 74, 0);
}

.descContainer{
    margin-top: 4vh;
    color: white;
}

.copyRightBox{
    margin-top: 8vh;
    height: max-content;
    width: max-content;
    font-size: 1.1rem;
    color: white;
}

@media (max-width:481px){
    .descBox{
        width: 90%;
    }
}