.container{
    height: max-content;
    width: 20%;
    margin-top: 2%;
    color: white;
    
}

.container h1{
    user-select: none;
}

.list{
    min-height: 10vh;
    width: max-content;
    padding-top: 5%;
}

.list-div{
    padding-top: 20%;
    cursor: pointer;
}

.list-div a{
    text-decoration: none;
    color: white;
}

.list-div a:hover{
    
   color: rgb(193, 74, 0);
}


@media (max-width:481px) {
    .container{
        width: 90%;
        padding-top: 5%;
        border-top: 2px solid white;
        margin-bottom: 5%;
        box-sizing: border-box;
    }
}